@model List<SportsModel>

<h3>Sports</h3>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">TeamActivity</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.TeamActivity</td>
            </tr>
        }
    </tbody>
</table>