@model Dictionary<int, AthleteModel>

<h3>Athletes</h3>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Surname</th>
            <th scope="col">Country</th>
            <th scope="col">Sports</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Value.Name</td>
                <td>@item.Value.Surname</td>
                <td>@item.Value.CountryName</td>
                <td>
                    @foreach (var sports in item.Value.Sports)
                    {
                        <ul>@sports</ul>
                    }
                </td>
            </tr>
        }
        </tbody>
</table>